body{
    background-image: url('https://e7.pngegg.com/pngimages/160/727/png-clipart-2014-fifa-world-cup-brazil-2018-world-cup-fuleco-fifa-world-cup-official-mascots-others-sport-world-cup.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    
    
}