body{
    background-image: url(https://png.pngtree.com/png-vector/20240529/ourmid/pngtree-cute-cow-playing-football-vector-png-image_12544733.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    height: 98vh;
}