body{
    font-family: Arial, Helvetica, sans-serif;
}

td{
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
    text-align: center;
}

table{
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}

tr{
    background-color: rgba(165, 42, 42, 0.462);
}
